/simmetrics-core/.settings/org.eclipse.m2e.core.prefs
/simmetrics-core/.settings/org.eclipse.jdt.core.prefs
/simmetrics-core/.settings/org.eclipse.core.resources.prefs
/simmetrics-core/.project
/simmetrics-core/.classpath
/.classpath
/.project
/.settings/
/target/
