/simmetrics-chapman/.classpath
/simmetrics-chapman/.project
/simmetrics-chapman/.settings/org.eclipse.core.resources.prefs
/simmetrics-chapman/.settings/org.eclipse.jdt.core.prefs
/simmetrics-chapman/.settings/org.eclipse.m2e.core.prefs
/simmetrics-taglink/.project
/simmetrics-taglink/.settings/org.eclipse.core.resources.prefs
/simmetrics-taglink/.settings/org.eclipse.jdt.core.prefs
/simmetrics-taglink/.settings/org.eclipse.m2e.core.prefs
/simmetrics-core/.settings/org.eclipse.m2e.core.prefs
/simmetrics-core/.settings/org.eclipse.jdt.core.prefs
/simmetrics-core/.settings/org.eclipse.core.resources.prefs
/simmetrics-core/.project
/simmetrics-core/.classpath
/.classpath
/.project
/.settings/
/target/
